body {
    background-color: rgba(38, 102, 145, 0.87);
    text-align: center;
}

table {
    margin: 0 auto;
    width: 50%;
}

table, tr, td {
    border: 1px;
    border-style: solid;
    border-spacing: 20px;
}

td {
    margin: 30px;
    padding: 20px;
    cursor: pointer;
}

.hide {
    display: none;
}

/*MODAL END THE GAME*/
.modal_game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.modal_game_content {
    display: block;
    width: 70%;
    max-width: 90%;
    margin: 5% auto 0 auto;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    padding: 30px;
    min-height: 200px;
}

/*CONTROL DE GAME*/
#game_control {
    margin-bottom: 10px;
}

#game_control span {
    margin: 0 5%;
}

#restart_game_btn {
    padding: 10px;
    cursor: pointer;
}