body {
    font-family: 'Fredoka One', cursive;
    background-color: #ccc;
    text-align: center;
    color: #033c63;
}

.grid_container {
    width: 40%;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    background-color: #11598a;
    background-image: url("../images/french-stucco.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    width: 100%;
}

table,
tr,
td {
    border: 1px;
    border-style: hidden;
    border-spacing: 15px;
}

td {
    cursor: pointer;
}

.card {
    background-color: #f9bb49;
}

.card_hided {
    background-color: #f97b4c;
    background-image: url("../images/green-gobbler.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card,
.card_hided {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}


.hide {
    display: none;
}

/*MODAL END THE GAME*/

.modal_game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal_game_content {
    display: block;
    width: 70%;
    max-width: 90%;
    margin: 5% auto 0 auto;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
    padding: 30px;
    min-height: 200px;
}

/*CONTROL DE GAME*/

#game_control {
    margin-bottom: 10px;
}

#game_control span {
    margin: 0 5%;
}

#restart_game_btn {
    padding: 10px;
    cursor: pointer;
}

/*ANIMATION FLIP CARDS
    Part of the code from 
    url:https://codepen.io/Eklipse/pen/RNGXNz
    author: Fernando Zorrilla
*/

.flip-container {
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flip-container.hover .flipper {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container,
.card,
.card_hided {
    width: 100%;
    padding: 25px 0;
    height: 20px;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 90px;
}

.flipper {
    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.card_hided, .card {
	-moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: -25px;
	left: 0;
}

.card {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* SHAKE Animation */
.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* Jump Animation */
@keyframes jump {
    0%{
        transform: translateY(0);
      }
      20%{
        transform: translateY(0);
      }
      40%{
        transform: translateY(-30px);
      }
      50%{
        transform: translateY(0);
      }
      60%{
        transform: translateY(-15px);
      }
      80%{
        transform: translateY(0);
      }
      100%{
        transform: translateY(0);
      }
  }

.jump {
 
    animation: jump 1s ease-in 0s 1 normal ;
}

#next_level_btn {
    padding: 10px;
    border: 1px solid;
    width: 20%;
    margin: 0 auto;
    cursor: pointer;
}

#reset_btn_end_game {
    padding: 10px;
    cursor: pointer;
    width: 20%;
    margin: 20px auto;
    margin-bottom: 0;
}

/* Ajust the width the grid */
@media (max-width: 660px) {
    .grid_container {
        width: 95%;
    }
}

